/* layout */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* deze eigenschap zorgt ervoor dat de padding en margin mee worden gerekend bij het definiëren van de totale breedte en hoogte van een element */

}

body {
	font-family: 'roboto', sans-serif;
	background-color: #e5e5e5;

}

.container {
	/* width: 100%; vaste breedte, maar kan natuurlijk ook min/max en in percentages */

	overflow: hidden;
	/* clearfix */
	background-color: #044888;
	column-gap: 10px;


}


/* zorgt voor het stuk website waar er aan de ene kant tekst en de andere kant foto */
.column-wrapper-info {

	justify-self: stretch;
	display: flex;
	flex-direction: row;
	background-color: #044888;

}

/* zorgt voor het stuk website waar er aan de ene kant tekst en de andere kant foto */
.column-wrapper-info-reversed {

	justify-self: stretch;
	display: flex;
	flex-direction: row-reverse;
	background-color: #044888;
	align-items: center;


}

/* zorgt voor het vakje waar de tekst in komt */
.column-info-tekst {
	/* margin:8% 10% 2% 10%; */
	padding: 0% 10% 2% 10%;
	width: 50%;
	display: flex;

	align-items: center;

}

/* zorgt voor dat column met de tekst 50% breed is */
.column-info {
	width: 50%;

}

/* voor de naast elk stukje tekst  */
.foto-aside {
	width: 100%;
	height: 100%;
}
/* styling van alle normale knoppen */
.normal-button,
.normal-button:active,
.normal-button:visited,
.normal-button:hover {
	background-color: #F9BB55;
	border: none;
	position: absolute;
	color: #000000;
	text-decoration: none;
	padding: 10px 25px 10px 25px;
	border-radius: 25px;
	font-size: 24px;
}

/* de parent van waar alle agenda wedstrijden in komen */
.column-wrapper-wedstrijd {
	padding: 2% 10% 2% 10%;
	background-color: #fff;

	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

/* de rechthoeken waar de wedstrijden in komen */
.column-wedstrijd {
	display: flex;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.207);
	background-color: #F9BB55;
	padding: 5%;
	gap: 10px;
	flex-direction: row;
	align-items: center;
}

/* de rechthoeken waar de wedstrijden i n komen */

.column-wedstrijd-2 {
	display: flex;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.207);
	background-color: #F9BB55;
	padding: 5%;
	gap: 10px;
	flex-direction: row;
	align-items: center;
}
/* de rechthoeken waar de wedstrijden i n komen */

.column-wedstrijd-3 {
	display: flex;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.207);
	background-color: #F9BB55;
	padding: 5%;
	gap: 10px;
	flex-direction: row;
	align-items: center;
}
/* de logo's van de teams die in de wedstrijd spelen */
.logo-wedstrijd1 {
	width: 50%;

}
/* de logo's van de teams die in de wedstrijd spelen */

.logo-wedstrijd2 {
	width: 50%;

}

footer {
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #044888;
	padding: 2% 10% 2% 10%;

	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

iframe {
	width: 500px;
	height: 450px;
}
/* de logo's in de footer */
.column-logos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
/* de logo's in de footer */

.logo-facebook {
	width: 33%;
}
/* de logo's in de footer */

.logo-instagram {
	width: 33%;
}
/* de logo's in de footer */

.logo-rugby {
	width: 50%;
}
/* wite stuk in de lidmaatschapspagina */
.nieuweSpelers {
	padding: 2% 10% 2% 10%;
	background-color: #ffffff;
}
/* voor de pagina's waar alleen tekst staat en geen foto's aan de zijkant */
.normale-tekst {
	padding: 2% 10% 2% 10%;

}
/* styling accordion */
.accordion {
	cursor: pointer;
	background-color: #044888;
	border: none;
	outline: none;

}
/* is voor de css van de javascript? */
.panel {
	display: none;
	overflow: hidden;
}
/* de parent van de nieuws items */
.column-wrapper-nieuws {
	padding: 2% 10% 2% 10%;
	background-color: #044888;

	display: grid;
	gap: 50px;
	grid-template-columns: 1fr 1fr;
}
/* de nieuwsitems zelf */
.column-nieuws {
	display: flex;
	flex-direction: column;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.207);
	background-color: #F9BB55;
	padding: 5%;
	gap: 20px;
	align-items: center;
	text-align: center;
}
/* styling van de knoppen op de nieuws items */
.nieuws-button,
.nieuws-button:active,
.nieuws-button:visited
 {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	color: #000000;
	text-decoration: none;
	padding: 10px 25px 10px 25px;
	border-radius: 25px;
	font-size: 24px;
	align-items: end;
}

.nieuws-button:hover {
	background-color: #044888;
	border: 1px solid #ffffff;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 25px 10px 25px;
	border-radius: 25px;
	font-size: 24px;
}
/* parent van de contact pagina waar de cardflips in staan */
.column-wrapper-contact {
	padding: 2% 10% 2% 10%;
	background-color: #044888;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;

}
/* alles met cardflip heb ik van w3 schools overgenomen */
.flip-card {
	width: 400px;
	height: 300px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	/* zorgt dat de inner zigtbaar blijft*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/*zorgt ervoor dat de achterkant niet aan de onderkant komt en altijd zichtbaar is*/
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	/* geen idee wat deze doen */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #F9BB55;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flip-card-back {
	background-color: #F9BB55;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: rotateY(180deg);
}
/* de cardflip foto voorkant */
.contact-foto-front {
	width: 50%;
	height: 200px;

	border-radius: 100%;
}
/* de cardflip foto achterkant */

.contact-foto-back {
	width: 30%;
	height: 100px;

	border-radius: 50%;
}


@media only screen and (max-width: 767px) {
	body {
		background-color: #fff;
	}

	.column-wrapper-info {
		align-items: center;
		/* justify-self: stretch; */
		/* display: flex; */
		flex-direction: column-reverse;/*zorgt ervoor dat de foto's en tekst van plek verwisselen*/
		background-color: #044888;

	}

	.column-wrapper-info-reversed {

		justify-self: stretch;
		display: flex;
		flex-direction: column-reverse;/*zorgt ervoor dat de foto's en tekst van plek verwisselen*/
		background-color: #044888;
		align-items: center;


	}

	.column-wrapper-contact {
		padding: 2% 10% 2% 10%;
		background-color: #044888;

		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;/*zorgt voor 1 breedte*/
		justify-items: center;
	}

	.column-wrapper-nieuws {
		padding: 2% 10% 2% 10%;
		background-color: #044888;

		display: grid;
		gap: 50px;
		grid-template-columns: 1fr;/*zorgt voor 1 breedte*/
	}

	.column-info-tekst {
		/* margin:8% 10% 2% 10%; */
		padding: 0% 10% 2% 10%;
		margin-bottom: 50px;
		width: 100%;
		display: flex;

		text-align: center;
	}

	.flip-card {
		width: 300px;
		height: 250px;
	}

	.contact-footer {
		font-size: 16px;
	}

	.contact-foto-front {
		width: 70%;
		height: 150px;

		border-radius: 100%;
	}

	.contact-foto-back {
		width: 40%;
		height: 100px;

		border-radius: 50%;
	}

	.normal-button,
	.normal-button:active,
	.normal-button:visited,
	.normal-button:hover {
		background-color: #F9BB55;
		border: none;
		position: absolute;
		color: #000000;
		text-decoration: none;
		padding: 10px 25px 10px 25px;
		border-radius: 25px;
		font-size: 16px;
	}


	.column-wrapper-wedstrijd {
		padding: 2% 10% 2% 10%;
		background-color: #fff;

		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;/*zorgt voor 1 breedte*/
		margin-bottom: 25px;
		margin-top: 25px;

	}

	.column-wedstrijd {
		display: flex;
		box-shadow: 5px 10px rgba(0, 0, 0, 0.207);
		background-color: #F9BB55;
		padding: 5%;
		gap: 10px;
		flex-direction: row;
		align-items: center;
	}

	.column-wedstrijd-2 {
		display: none;/*zorgt ervoor dat de 2e westrijd niet te zien is op telefoon*/

	}

	.column-wedstrijd-3 {
		display: none;/*zorgt ervoor dat de 3e westrijd niet te zien is op telefoon*/

	}

	.logo-wedstrijd1 {
		width: 50%;

	}

	.logo-wedstrijd2 {
		width: 50%;
	}

	footer {
		font-size: 0.8125rem;
		text-align: center;
		background-color: #044888;
		padding: 2% 10% 2% 10%;

		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;
	}

	iframe {
		width: 300px;
		height: 300px;
	}

	.column-logos {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.logo-facebook {
		width: 33%;
	}

	.logo-instagram {
		width: 33%;
	}

	.logo-rugby {
		width: 50%;
	}

}