/* navigation */
nav ul{
	display: flex;
	align-items: center;

}

nav ul li {
		list-style: none;
	}

.subnav .subnavbtn { 
		font-size: 30px;
		background-color: transparent;
		text-decoration: underline;
		border: none;
		outline: none;
		color: #044888;
	  }

.subnav-content {
	display: none;
	position: absolute;
	min-width: 160px;

	z-index: 1;
	  }
	  
.subnav-content a {
		color: #044888;
		text-decoration: underline;
			font-size: 30px	;

	  }
	    
.subnav:hover .subnav-content {
		display: block;
	  }
	  .subnav:active .subnav-content:active {
		display: block;
		color: #E41A30;
	  }
nav ul li a {
	color: #044888;
	text-decoration: underline;
	padding: 0 15px;
	font-size: 30px;
}
nav ul li a:visited {
	color: #044888;
	text-decoration: underline;
	padding: 0 15px;
	font-size: 30px;
}
nav ul li a:hover {
	color: #E41A30;
	text-decoration: underline;
	padding: 0 15px;
	font-size: 30px;
}

nav ul li.active a {
	color: #E41A30;
	text-decoration: underline;
	padding: 0 15px;
	font-size: 30px;
}
@media only screen and (max-width: 767px) {
	nav ul {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}
	nav ul li a {
		color: #044888;
		text-decoration: underline;
		padding: 0 15px;
		font-size: 24px;
	}
	
	nav ul li a:visited {
		color: #044888;
		text-decoration: underline;
		padding: 0 15px;
		font-size: 24px;
	}
	nav ul li.active a {
		color: #E41A30;
		text-decoration: underline;
		padding: 0 15px;
		font-size: 24px;
	}
	.subnav-content a {
		color: #044888;
		text-decoration: underline;
			font-size: 24px;

	  }
	.subnav .subnavbtn { 
		font-size: 24px;
		background-color: transparent;
		text-decoration: underline;
		border: none;
		outline: none;
		color: #044888;
	  }
}