/*im het font in te laden*/
@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot'); /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto.woff') format('woff'), /* Modern Browsers */
    url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  html{
    font-family: 'Roboto', sans-serif;
    font-size: 16;
  }
H1{
      font-family: 'Roboto', sans-serif;

font-size: 3rem;
color: #ffffff;
}
h2 {
  font-weight: 400;
    font-size: 2rem;
  color:#ffffff;
}
h3 {
  font-weight: 400;
    font-size: 2rem;
  color:#ffffff;
}
a {
	color: #F9BB55;
	text-decoration: underline;
}
a:hover {
	color: #E41A30 ;
	text-decoration: underline;
}
a:visited{
  color:#E41A30 ;
}
p {
    font-family: 'Roboto';
    color:#ffffff;
    font-size: 1rem;
    line-height: 28px;
    padding: 0 0 20px 0;
}
/*voor text met witte achtergrond op informatie pagina*/
.nieuweSpelers p{
	color:#044888

}
.nieuweSpelers h2{
	color:#044888

}
.contact-link{
  color:#044888;
}
.column-nieuws p{
	color:#000000;
}
.column-h2{
	color:#000000	
}
@media only screen and (max-width: 767px) {
p{font-size: 16px;

}
}
